<form class="form-horizontal">
  <fieldset>
    <legend>Project</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Projeto</label>
      <div class="col-lg-6">
        <input type="text" class="form-control" id="inputEmail" placeholder="ProjectName" [(ngModel)]="project.name">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">        
        <button type="submit" class="btn btn-primary" (click)=createProject()>Submit</button>
      </div>
    </div>
  </fieldset>
</form>

<app-project-list [(projects)]="projects"></app-project-list>