<form class="form-horizontal">
  <fieldset>
    <legend>User</legend>
    <div class="form-group">
      <label for="inputUser" class="col-lg-2 control-label">User</label>
      <div class="col-lg-6">
        <input type="text" class="form-control" id="inputUser" placeholder="UserName" [(ngModel)]="user.username">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-6">
        <input type="text" class="form-control" id="inputEmail" placeholder="UserEmail" [(ngModel)]="user.email">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">        
        <button type="submit" class="btn btn-primary" (click)=createUser()>Submit</button>
      </div>
    </div>
  </fieldset>
</form>
